#home .contentit{
  width: 100%;
  color: #fff;
}

#home .contentit h1{
  font-size: 50px;
  margin-bottom: 10px;
  font-family: 'Libre Caslon Display', serif;
  color: #1D1E33;
}

#home .contentit h1::after{
  content: "Artista";
  animation: textanim 10s linear infinite;
}

