body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(works.jpg);
    position: relative;
    margin-left: 150px;
    width: 70%;
    min-height: 100vh;
    padding: 10px;
    align-items: center;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
.content{
    position: relative;
    display: inline-block;
    margin-top: 90px;
    background: #40c3ff;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}
.container{
    width: 1200px;
    min-height: 500px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    background: #ff0;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;

}
.container .box .imgBox{
    position: relative;
    overflow: hidden;
}
.container .box .imgBox img{
    max-width: 100%;
    max-height: 1000px;
    transition: transform 2s;
}
.container .box:hover .imgBox img{
    transform: scale(1.2);
}
.container .box .details{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, .8);
    transform: scaleY(0);
    transition: transform .5s;
}
