h1{
    font-size: 55px;
    font-family: Noto Sans, sans-serif;
    text-shadow: 2px 2px 1px white;
    background-color: #726578;
}
.img1{
    width: 45px;
    height: 45px;
    alt: Instagram;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.img2{
    width: 45px;
    height: 45px;
    alt: Telegram;
    float: right;
    margin-right: 5px;
    margin-top: 10px;
    
}
.img3{
    width: 45px;
    height: 45px;
    alt: Gmail;
    float: right;
    margin-right: 5px;
    margin-top: 10px;
}


.class1 {
    float: right;
    height: 640px;
    width: 426px;
    margin-right: 5%;
}
