body{
    background-color: cornsilk;
}
p{
    font-size: 55px;
    font-family: Monotype Corsiva,sans-serif;
    /*text-shadow: 2px 2px 1px white;*/
    background-color: #726578;
    color: black;
}
.img1{
    width: 35px;
    height: 35px;
    alt: Instagram;
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}
.img2{
    width: 40px;
    height: 40px;
    alt: Telegram;
    float: right;
    margin-right: 5px;
    margin-top: 10px; 
}
.img3{
    width: 35px;
    height: 35px;
    alt: Gmail;
    float: right;
    margin-right: 5px;
    margin-top: 15px;
}


.class1 {
    float: right;
    height: 640px;
    width: 426px;
    margin-right: 5%;
}
